:root {
  --black: black;
  --white: white;
  --accessible-components--dark-grey: #9b9b9b;
  --5rem: .5rem;
  --1rem: 1rem;
}

body {
  color: var(--black);
  background-color: #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 20px;
}

h1 {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
}

.fs_checkbox-7_message {
  color: var(--accessible-components--dark-grey);
}

.fs_checkbox-7_mask {
  z-index: 1;
  background-color: #f5f5f5;
  border-radius: 4px;
  position: absolute;
  inset: 0%;
}

.fs_checkbox-7_label {
  margin-bottom: 0;
  font-weight: 500;
  display: none;
}

.fs_checkbox-7_button {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0%;
}

.fs_checkbox-7_button:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_checkbox-7_button[data-wf-focus-visible] {
  outline-offset: 4px;
  outline: 2px solid #9b9b9b;
}

.fs_checkbox-7_dot {
  z-index: 2;
  background-color: #ddd;
  border-radius: 4px;
  flex: none;
  width: 4rem;
  height: 2rem;
  margin-top: .5rem;
  margin-left: .5rem;
  display: block;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.fs_checkbox-7_text-off {
  z-index: 3;
  margin-left: 1.5rem;
  position: relative;
}

.fs_checkbox-7_text-on {
  z-index: 3;
  position: relative;
}

.fs_checkbox-7_wrapper {
  cursor: pointer;
  background-color: #ddd;
  border-radius: .5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 8rem;
  height: 3rem;
  margin-bottom: 0;
  padding: .25rem 1.25rem;
  font-size: .85rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.fs_checkbox-7_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 2px #fff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration: none;
  transition: transform .3s, background-color .4s;
  display: flex;
}

.button:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.025);
}

.button.center {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.button.secondary, .button.secondary.w--current {
  filter: invert();
}

.button-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: .2rem;
  display: flex;
}

.icon-embed-xxsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
}

.container.view-switch {
  justify-content: space-between;
  margin-bottom: 1rem;
  display: flex;
  position: absolute;
  inset: 1rem 1rem auto auto;
}

.container.table {
  border-radius: var(--5rem);
  color: #eee;
  background-image: linear-gradient(#0009, #0009), url('../images/vackground-com-agUC-v_D1iI-compressed.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  padding: 3rem;
  overflow: scroll;
  box-shadow: 0 2px 10px #0000004d;
}

.container.table-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container.table-row {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.container.table-row._4-grid, .container.table-head {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container.heading {
  grid-column-gap: var(--5rem);
  grid-row-gap: var(--5rem);
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  display: flex;
}

.container.formular {
  grid-column-gap: var(--5rem);
  grid-row-gap: var(--5rem);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.section._100vh {
  height: 100vh;
}

.section.brain-hero {
  color: var(--white);
  background-image: linear-gradient(#000c, #000c), url('../images/cristian-palmer-RR29P0uLQms-compressed.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 100vh;
}

.section.hero {
  height: 100vh;
}

.wrapper.max-wrapper.is-flex {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 5rem;
}

.wrapper.max-wrapper.is-flex.brain {
  color: var(--white);
  background-image: url('../images/cristian-palmer-RR29P0uLQms-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
}

.max-wrapper {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-caption {
  padding: .25rem 1rem;
}

.table-cell {
  margin-top: var(--5rem);
  margin-right: var(--5rem);
  margin-bottom: var(--5rem);
  padding: var(--1rem);
  background-color: #0000004d;
  border-radius: 4px;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.table-row {
  border-bottom: 2px solid #ffffff26;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.table-footer {
  font-weight: 700;
}

.table-body {
  flex-flow: column;
  font-weight: 300;
  display: flex;
}

.table-header {
  padding-top: var(--5rem);
  padding-right: var(--1rem);
  padding-bottom: var(--5rem);
  font-weight: 500;
}

.table-component {
  text-align: left;
  flex-flow: column;
  font-size: 1rem;
  line-height: 1.4rem;
  display: flex;
}

.line-divider {
  background-image: linear-gradient(90deg, #0000, #39b6ff 50%, #0000);
  width: 100%;
  height: 2px;
}

.hide {
  display: none;
}

.box-shadow-hover {
  transition: transform .5s, box-shadow .5s;
}

.box-shadow-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px #00000040;
}

.icon-embed-large {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.icon-embed-large.brain-icon {
  margin-top: 2px;
}

.body {
  background-color: #eee;
}

.error-message {
  border-radius: 8px;
}

.embed-feedback-page {
  display: none;
}

.input {
  background-color: #0000004d;
  border: 1px solid #1326251a;
  border-radius: 8px;
  height: 100%;
  min-height: 50px;
  margin-bottom: 0;
  padding: 1.25rem;
  transition: box-shadow .5s, border-color .5s;
  box-shadow: 0 2px 5px #0003;
}

.input:hover {
  color: #132625;
  border-color: #13262580;
  box-shadow: inset 0 3px 10px #1326251a;
}

.input:focus {
  border-color: var(--white);
}

.input::placeholder {
  color: var(--white);
}

.checkbox-label-3 {
  color: #091725;
}

.checkbox-label-3.diagnose-form {
  color: #021c22;
}

.success-message {
  color: #132625;
  text-transform: none;
  background-color: #0000;
  font-size: 1rem;
  font-weight: 400;
}

.link {
  text-decoration: underline;
}

.faq_content {
  overflow: hidden;
}

.faq_content.diagnose {
  grid-column-gap: var(--5rem);
  grid-row-gap: var(--5rem);
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.checkbox-field {
  margin-bottom: 0;
}

.checkbox.kontaktformular {
  margin-top: 5px;
}

.container-form-fading {
  background-image: linear-gradient(135deg, #0003, #0000 84%, #0003);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 1px;
}

.form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 0;
  font-weight: 300;
}

.button-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
  letter-spacing: -.011em;
  background-color: #132625;
  border: 2px #fff;
  border-radius: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: none;
  transition: transform .3s, background-color .4s;
  display: inline-flex;
  box-shadow: 0 0 3px #1326254d;
}

.button-2:hover {
  color: #000;
  background-color: #fff;
  transform: scale(1.025);
}

.feedback-page {
  height: auto;
}

.wrapper-2 {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  position: relative;
}

.wrapper-2.form-content {
  grid-column-gap: .4rem;
  grid-row-gap: .4rem;
  flex-flow: column;
  display: flex;
}

.container-form-functions {
  margin-top: -8px;
}

.recaptcha-2 {
  margin-bottom: 1.5rem;
}

.recaptcha-2.diagnose-popup {
  margin-bottom: 0;
}

.text-size-medium-4 {
  color: #def2ff;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-size-medium-4.text-weight-semibold.p {
  color: #132625;
}

.container-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

@media screen and (max-width: 767px) {
  .button {
    letter-spacing: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    line-height: 1rem;
  }

  .input {
    height: 50px;
    margin-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .button-2 {
    letter-spacing: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    line-height: 1rem;
  }

  .text-size-medium-4 {
    letter-spacing: -.011em;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

#w-node-a2213b04-566b-59f9-3132-d72910941456-ac04b2d4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


